@charset "UTF-8";
@import url(mobile_menu.css);
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url(Input_form.css);
@import url(test.css);
@media only screen and (min-width: 840px) {
  header {
    padding-top: 31px;
    padding-bottom: 50px; }
    header .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      max-width: 1294px;
      border: none; }
      header .container #menu {
        padding-left: 150px; }
        header .container #menu ul {
          display: flex;
          list-style: none; }
          header .container #menu ul li a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            padding-left: 30px; } }
.menu2 ul li:first-of-type {
  padding-right: 15px; }
.menu2 ul li:last-of-type {
  padding-left: 15px; }
.menu2 ul li {
  list-style: none;
  display: inline; }

.container {
  max-width: 1294px;
  margin: auto; }

.new_mobile {
  background: #DCE5E2;
  border-radius: 32px;
  display: flex;
  padding-top: 14px;
  max-height: 613px;
  max-width: 100%; }
  .new_mobile h1 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: black;
    padding-left: 56px;
    padding-top: 115px;
    padding-bottom: 19px; }
  .new_mobile p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-left: 56px;
    padding-bottom: 50px; }
  .new_mobile a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
    border: 1px solid black;
    border-radius: 200px;
    padding: 14px 53px 14px 53px;
    margin: 56px;
    text-decoration: none; }
    .new_mobile a .owl-carousel .owl-item {
      text-align: center; }
      .new_mobile a .owl-carousel .owl-item img {
        max-width: 1070px; }
        .new_mobile a .owl-carousel .owl-item img .owl-stage {
          display: flex;
          align-items: center; }
        .new_mobile a .owl-carousel .owl-item img .owl-nav .owl-prev {
          position: absolute;
          left: -35px;
          top: 210px; }

.owl-nav .owl-prev:before {
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  content: "";
  color: black;
  font-size: 30px; }
.owl-nav .owl-prev {
  position: absolute;
  left: 10px;
  top: 270px; }
.owl-nav .owl-next {
  position: absolute;
  right: 10px;
  top: 270px; }
.owl-nav .owl-next:before {
  font-weight: 600;
  font-family: "Font Awesome 6 Free";
  content: "";
  color: black;
  font-size: 30px;
  transform: rotate(180deg);
  display: inline-block; }

.owl-dots {
  position: relative;
  justify-content: center;
  display: flex;
  bottom: 0;
  top: -66px;
  left: 40px; }
  .owl-dots span {
    display: inline-block;
    width: 184px;
    height: 3px;
    background: #343434;
    margin-right: 34px; }
  .owl-dots .active span {
    display: inline-block;
    width: 184px;
    height: 3px;
    background: #0048f6; }

.sec2 {
  padding-bottom: 100px;
  max-width: 1301px;
  max-width: 100%; }
  .sec2 h2 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black;
    padding-top: 75px;
    margin: 0; }
  .sec2 p {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: black;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 55px; }
  .sec2 .main_size {
    display: flex;
    justify-content: space-between;
    align-items: normal; }
    .sec2 .main_size .size {
      box-shadow: 0px 0px 20px #c5c5c5;
      width: 639px;
      margin-bottom: 64px;
      max-width: 100%; }
      .sec2 .main_size .size a img {
        position: relative;
        left: 60px;
        max-width: 100%; }
      .sec2 .main_size .size span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        color: #000000;
        padding-left: 32px; }
      .sec2 .main_size .size h3 {
        font-family: "Readex Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: #000000;
        padding-right: 42px; }
  .sec2 .size2 {
    box-shadow: 0px 0px 20px #c5c5c5;
    height: 270px;
    display: flex; }
    .sec2 .size2 a img {
      max-width: 100%;
      padding-left: 42px; }
  .sec2 .text {
    display: flex;
    flex-direction: column; }
    .sec2 .text span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      padding-left: 46px;
      padding-top: 100px; }
    .sec2 .text h3 {
      font-family: "Readex Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: right;
      color: #000000;
      padding-left: 46px; }
  .sec2 .size3 {
    box-shadow: 0px 0px 20px #c5c5c5;
    width: 312px; }
    .sec2 .size3 a img {
      max-width: 100%;
      padding-left: 16px;
      padding-top: 144px;
      padding-bottom: 41px; }
    .sec2 .size3 span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      padding-left: 128px; }
    .sec2 .size3 h3 {
      font-family: "Readex Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #000000; }
  .sec2 .size4 {
    box-shadow: 0px 0px 20px #c5c5c5; }
    .sec2 .size4 a img {
      max-width: 100%;
      padding-top: 50px;
      padding-bottom: 41px; }
    .sec2 .size4 p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      padding: 114px 0 0 0; }
    .sec2 .size4 h3 {
      font-family: "Readex Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #000000; }

.sec3 {
  padding-bottom: 70px; }
  .sec3 h2 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black; }
  .sec3 p {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: black;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 31px; }

.sec3_vol {
  display: flex;
  justify-content: space-between; }
  .sec3_vol h3 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    padding-top: 37px;
    padding-bottom: 9px; }
  .sec3_vol span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    padding-bottom: 25px; }
  .sec3_vol p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: left; }

.sec4 h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: black; }
.sec4 p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 31px; }
.sec4 .sec4_vol {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px; }
  .sec4 .sec4_vol .mini_container {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    border-radius: 16px; }
    .sec4 .sec4_vol .mini_container a img {
      max-width: 100%; }
  .sec4 .sec4_vol p {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: black;
    padding-top: 41px;
    padding-bottom: 0; }
  .sec4 .sec4_vol h3 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: black;
    padding-bottom: 30px; }
  .sec4 .sec4_vol a:first-of-type {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
    border: 1px solid black;
    border-radius: 200px;
    padding: 14px 53px 14px 53px;
    text-decoration: none; }
  .sec4 .sec4_vol a:last-of-type {
    padding-top: 30px; }

.sec5 {
  padding-top: 25px; }
  .sec5 h2 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: black; }
  .sec5 p {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: black;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 56px; }
  .sec5 .container_book {
    display: flex;
    padding-bottom: 75px; }
    .sec5 .container_book img {
      max-width: 100%; }
    .sec5 .container_book a {
      padding-right: 27px; }
    .sec5 .container_book p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      text-align: left;
      padding-bottom: 28px; }
    .sec5 .container_book .p_class {
      display: flex;
      flex-direction: column;
      padding-left: 30px; }
  .sec5 a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    display: flex;
    justify-content: center;
    text-decoration: none; }

.sec6 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sec6 h2 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-top: 75px;
    padding-bottom: 25px; }
  .sec6 .search {
    display: flex;
    width: 554px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 18px; }
    .sec6 .search a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: black;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 13px 22px 13px 22px;
      text-decoration: none;
      margin-right: 7px;
      margin-top: 7px; }

.sec7_flex {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 20px; }

.sec7 {
  padding-top: 68px;
  width: 935px;
  border-radius: 16px;
  background-color: #DCE5E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }
  .sec7 h2 {
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    padding-bottom: 9px; }
  .sec7 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000; }
  .sec7 img {
    padding-top: 9px;
    padding-bottom: 10px; }

.d_flex1 {
  display: flex;
  padding-bottom: 40px;
  padding-top: 15px; }

.dis_none {
  display: none; }

.email {
  max-width: 564px;
  margin: auto; }

input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 32px;
  text-align: left; }

input {
  background: #DCE5E2;
  border-radius: 54px 0px 0px 54px;
  height: 50px;
  width: 285px;
  text-align: center; }

input#email:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0; }

input#email:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0; }

.div_button {
  background: #000000;
  border-radius: 0px 200px 200px 0px;
  padding: 15px 33px 16px 33px;
  font-size: 17px; }

.budgete_button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  border: none; }

footer {
  background: #F8F9FA;
  border-top: 1px solid #DCE5E2; }
  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 44px 0 78px; }
  footer p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-top: 18px; }
  footer .footer_menu {
    display: flex;
    align-items: flex-start; }
  footer ul {
    margin-right: 100px;
    list-style: none; }
    footer ul li {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: black;
      margin-bottom: 19px; }
      footer ul li a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: black;
        margin-bottom: 14px;
        text-decoration: none; }
  footer .footer_end {
    max-width: 1350px;
    margin: auto;
    padding-bottom: 20px;
    border-top: 1px solid #DCE5E2;
    display: flex;
    justify-content: space-between; }
    footer .footer_end span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: black; }
    footer .footer_end a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: black;
      text-decoration: none; }
      footer .footer_end a img {
        position: relative;
        top: 4px; }

@media only screen and (max-width: 1024px) {
  .new_mobile h1 {
    padding-top: 0; }

  .sec2 .main_size {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec2 .main_size .adap {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .sec2 .main_size .size {
      margin-bottom: 30px; }
    .sec2 .main_size .size2 {
      width: 640px;
      margin-bottom: 30px; }
    .sec2 .main_size .size3 {
      margin-bottom: 30px; }

  .sec3_vol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }

  .sec4 .sec4_vol {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec4 .sec4_vol .mini_container {
      margin-bottom: 20px; }

  footer .end {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .pad_logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .footer_menu {
    padding-top: 30px; }
    footer .footer_menu ul {
      margin-right: 30px; } }
@media only screen and (max-width: 900px) {
  .new_mobile h1 {
    font-size: 35px;
    line-height: 40px; }
  .new_mobile .owl-dots {
    display: none; }

  .sec5 .container_book {
    display: flex;
    flex-direction: column;
    align-items: center; } }
@media only screen and (max-width: 430px) {
  .new_mobile {
    max-height: 300px; }
    .new_mobile h1 {
      font-size: 25px;
      line-height: 30px; }
    .new_mobile a {
      position: relative;
      left: 160px;
      bottom: 95px; }

  .owl-nav .owl-next {
    position: absolute;
    top: 170px; }

  .owl-nav .owl-prev {
    position: absolute;
    top: 170px; }

  .sec2 .main_size {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec2 .main_size .size {
      width: 380px; }
      .sec2 .main_size .size span {
        padding-left: 280px; }
      .sec2 .main_size .size a img {
        left: 0; }
    .sec2 .main_size .size2 {
      width: 380px;
      height: 191px; }
      .sec2 .main_size .size2 a img {
        padding-left: 0; }
    .sec2 .main_size .text span {
      padding-top: 0;
      padding-left: 0;
      text-align: center; }
    .sec2 .main_size .text h3 {
      text-align: center;
      padding-left: 0; }
    .sec2 .main_size .size3 a img {
      padding: 0 0 0 16px; }
    .sec2 .main_size .size4 p {
      padding: 5px; }

  .sec6 .search {
    width: 300px; }

  .search-container {
    width: 300px;
    display: block;
    margin: auto; }

  footer .end {
    display: flex;
    flex-direction: column; }
  footer .footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px; }
    footer .footer_menu ul {
      margin-right: 0; } }
@media only screen and (max-width: 290px) {
  .menu2 {
    visibility: hidden; }

  #burger-menu {
    left: 25px; }

  .owl-dots {
    display: none; }

  .new_mobile h1 {
    font-size: 20px;
    line-height: 20px;
    font-family: "Readex Pro";
    font-style: normal;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 0; }
  .new_mobile p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;
    color: black;
    text-align: center;
    padding: 0; }

  .new_mobile a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
    border: 1px solid black;
    border-radius: 200px;
    padding: 1px 23px 7px 22px;
    margin: 56px;
    text-decoration: none;
    position: relative;
    bottom: 40px;
    left: 94px; }

  .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
    top: 190px; }

  .owl-nav .owl-next {
    position: absolute;
    right: 10px;
    top: 190px; }

  .sec2 .text span {
    padding-top: 1px;
    text-align: center; }
  .sec2 .text h3 {
    text-align: center; }
  .sec2 .text h2 {
    font-size: 20px; }
  .sec2 .main_size {
    display: flex;
    flex-direction: column;
    margin: 20px; }
    .sec2 .main_size .size {
      margin-bottom: 20px;
      width: 250px; }
      .sec2 .main_size .size span {
        padding-left: 100px; }
      .sec2 .main_size .size a img {
        left: 0; }
    .sec2 .main_size .size2 {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 280px; }
      .sec2 .main_size .size2 a img {
        padding-left: 0; }
    .sec2 .main_size .size3 {
      width: 100%;
      margin-top: 20px; }
      .sec2 .main_size .size3 span {
        padding-left: 100px; }
      .sec2 .main_size .size3 a img {
        padding: 0 0 0 0; }
    .sec2 .main_size .size4 {
      margin-top: 20px; }

  .sec3 .sec3_vol {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .sec4 .sec4_vol {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sec4 .sec4_vol .mini_container {
      width: 250px;
      margin: 20px; }

  .sec5 .container_book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px; }

  .sec6 .search {
    width: 283px; }

  .sec7_flex .sec7 {
    margin: 5px; }
    .sec7_flex .sec7 .email input {
      height: 48px;
      width: 138px; }

  footer .end {
    display: flex;
    flex-direction: column; }
  footer .footer_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px; }
    footer .footer_menu ul {
      margin-right: 0; }

  .search-container {
    width: 200px;
    display: block;
    margin: auto; } }
* {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
